<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101052595733-ehv7sbbcb9m8jrphivrnapm85dpl54um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101052595733-ehv7sbbcb9m8jrphivrnapm85dpl54um</string>
	<key>API_KEY</key>
	<string>AIzaSyD7yyJgro24MZRDS0GahQntnzvu0UoSzCU</string>
	<key>GCM_SENDER_ID</key>
	<string>101052595733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.byta.fintech.byta</string>
	<key>PROJECT_ID</key>
	<string>byta-fintech-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>byta-fintech-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101052595733:ios:e10cf7703abb50ef31981c</string>
</dict>
</plist>